<div class="row">
    <%= form_tag(text_path, method: :patch) do %>
      <h3>
          編集する
      </h3>
    <div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="autocomplete-input" name="text">
          <label for="autocomplete-input">文字を入力してください</label>
        </div>
        <input class="btn"type="submit" value="SENT">
      </div>
    </div>
  <% end %>
</div>
