<div>
    <a herf="/">一覧に戻る</a>
    <%= form_tag("/text/#{@text.id}", method: :patch) do %>
      <h3>
          編集する
      </h3>
      
      <textarea name="text" placeholder="text" rows="10" cols="30"></textarea>
      <input type="submit" value="SENT">
    <% end %>
</div>