<div>
  <% @texts.each do |text| %>
      <li>
         <h2><%= text.text%></h2>
      </li>
   <ul>
     <li><%= link_to '編集', edit_text_path(text.id), method: :get %></li>
     <li><%= link_to '削除', text_path(text.id),method: :delete %></li>
   </ul>
  <% end %>
     
</div>